:root {
  --main-purple: #9356dc;
  --main-pink: #ff79da;
  --main-blue: #99e2d0;
  --main-grey: rgb(234, 234, 234);
  --main-lightgrey: rgb(246, 246, 246);
  --main-font-text: "Roboto", "Arial";
  --main-font-title: "Shrikhand", "Arial";
}

.header_logo {
  display: block;
  margin: auto;
}

* {
  font-family: var(--main-font-text);
}

#form_explorer {
  display: flex;
  position: relative;

  flex-direction: column;
  text-align: center;
  background-color: var(--main-lightgrey);
}
.form_cont_input {
  background-color: var(--main-grey);
  display: flex;
  align-items: center;
  height: 50px;
  box-shadow: inset 0px 3px rgb(207, 207, 207);
}

.fa-map-marker-alt {
  padding-left: 120px;
  padding-right: 15px;
}

.input_explorer {
  background-color: var(--main-grey);
  border: 0px;
  font-size: 1.1em;
}
.form_cont_text {
}

form h1 {
  margin: 0px;
  font-size: 1.7em;
  padding: 40px 50px 0px 50px;
}

form p {
  font-size: 1.2em;
}

.bouton_explorer {
  background-image: linear-gradient(
    to top left,
    var(--main-purple),
    var(--main-pink)
  );
  color: white;
  font-size: 1.2em;
  border-radius: 40px;
  padding: 20px;
  margin: 10px 0px 60px 0px;
  border: 0px;

  box-shadow: 0px 2px 5px 2px rgb(207, 207, 207);
}
