.far {
  position: absolute;
  z-index: -1;
  font-size: 2em;
}
.fas {
  font-size: 2em;
  color: transparent;
}
.icone {
  position: relative;
  width: 32px;
  height: 32px;
  background-image: linear-gradient(to top, blue, red);
  -webkit-background-clip: text;
  background-size: 100% 0;
  background-position: bottom;
  background-repeat: no-repeat;
}

.icone:hover {
  background-size: 100% 100%;
  transition: background-size 2s;
}

.cont {
  display: block;
  background-color: turquoise;
}
