:root {
  --main-purple: #9356dc;
  --main-pink: #ff79da;
  --main-blue: #99e2d0;
  --main-grey: #eaeaea;
  --main-lightgrey: #f6f6f6;
  --main-font-text: "Roboto", "Arial";
  --main-font-title: "Shrikhand", "Arial";
}

/* Reset Css */

/*Début style */
a {
  text-decoration: none;
  color: black;
  margin: 0;
}
figure {
  margin: 0;
}

body {
  margin: 0;
  font-family: var(--main-font-text);
}

ul {
  list-style: none;
}
.img {
  display: block;
  width: 105%;
  height: auto;
  position: relative;
  z-index: -1;
}

.header_logo {
  display: block;
  margin: auto;
}
header {
  padding: 10px 0px;
  position: relative;
}

.fa-arrow-left {
  position: absolute;
  font-size: 1.3em;
  top: 15px;
  left: 30px;
}

.cont_image {
  height: 250px;
}

.cont_menu {
  background-color: var(--main-lightgrey);
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  position: relative;
  z-index: 1;
  padding: 30px 15px;
}

.titre_menu {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 25px;
}

h1 {
  font-family: var(--main-font-title);
  margin: 0;
  font-size: 2em;
}

.icone_menu {
  position: relative;
  margin-right: 30px;
  position: relative;
  margin: auto 25px 35px 0;
  background-image: linear-gradient(
    to bottom,
    var(--main-purple),
    var(--main-pink)
  );
  -webkit-background-clip: text;
  background-size: 100% 0;
  background-position: bottom;
  background-repeat: no-repeat;
}
.icone_menu:hover {
  background-size: 100% 100%;
  transition: background-size 0.5s;
}
.fa-heart {
  font-size: 1.8em;
  transform-origin: left;
  transform: scaleX(0.9);
}

.heart-empty {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  color: #101010;
}

.heart-full {
  position: relative;
  color: transparent;
}

h2 {
  font-weight: 400;
  font-size: 1.2em;
  margin: 0 0 5px 0;
}

.section_entrees {
  animation: load-y 1s ease-in-out backwards;
}

.entrees_1 {
  animation: load-x 0.25s 0.75s ease-in-out backwards;
}

.entrees_2 {
  animation: load-x 0.25s 1s ease-in-out backwards;
}

.entrees_3 {
  animation: load-x 0.25s 1.25s ease-in-out backwards;
}

.section_plats {
  animation: load-y 1s 0.75s ease-in-out backwards;
}
.plats_1 {
  animation: load-x 0.25s 1.5s ease-in-out backwards;
}

.plats_2 {
  animation: load-x 0.25s 1.75s ease-in-out backwards;
}

.plats_3 {
  animation: load-x 0.25s 2s ease-in-out backwards;
}
.section_desserts {
  animation: load-y 1s 1.5s ease-in-out backwards;
}

.desserts_1 {
  animation: load-x 0.25s 2.25s ease-in-out backwards;
}

.desserts_2 {
  animation: load-x 0.25s 2.5s ease-in-out backwards;
}

.desserts_3 {
  animation: load-x 0.25s 2.75s ease-in-out backwards;
}

@keyframes load-y {
  from {
    transform: translateY(2000px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes load-x {
  from {
    transform: translateX(2000px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.underline {
  height: 3px;
  width: 47px;
  margin-bottom: 15px;
  background-color: var(--main-blue);
}
.articles_menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.articles_menu a {
  margin-bottom: 17px;
}
.article_menu {
  display: flex;
  background-color: white;
  overflow: hidden;
  height: 75px;
  border-radius: 15px;
  box-shadow: 0px 10px 19px -8px rgba(0, 0, 0, 0.2);
}

.article_menu:hover .article_menu_texte {
  animation: shrink 1s forwards;
}

.article_menu:hover .article_menu_choix .fa-check-circle {
  animation: spin 1s;
}

@keyframes shrink {
  from {
    flex-shrink: 0;
  }
  to {
    flex-shrink: 1;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.article_menu_texte {
  flex: 1 0 86%;
  min-width: 0;
  margin: auto 0 auto 10px;
}
.article_menu_texte h3 {
  font-size: 1.3em;
  font-weight: 500;
  margin: 0 0 5px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.article_menu_texte p {
  margin: 0;
  font-size: 1.05em;
  font-weight: 300;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.article_menu_prix {
  display: flex;
  flex: 1 0 14%;
  align-items: baseline;

  margin: auto 0 15px 0;
}

.article_menu_prix p {
  margin: 0;
  font-weight: 500;
}

.article_menu_choix {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 16%;
  background-color: var(--main-blue);
}

.fa-check-circle {
  color: white;
  font-size: 1.5em;
}

.bouton_commander {
  display: block;
  background-image: linear-gradient(
    to top left,
    var(--main-purple),
    var(--main-pink)
  );
  width: 55%;
  color: white;
  font-size: 1.2em;
  border-radius: 40px;
  padding: 18px;
  margin: 40px auto 60px auto;
  border: 0px;
  box-shadow: 0px 10px 19px -8px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  filter: brightness(1.05);
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
}

footer {
  background-color: #353535;
  padding: 0px 0px 30px 20px;
}
footer h2 {
  color: white;
  font-weight: 500;
  font-family: var(--main-font-title);
  font-size: 1.2em;
  margin: 15px 0 10px 0;
}

footer a {
  color: white;
  line-height: 1.8;
  font-size: 1.1em;
  font-weight: 500;
}
footer ul {
  padding: 0;
  margin: 0;
}

.fa-utensils {
  font-size: 0.9em;
  margin-right: 15px;
}
.fa-hands-helping {
  font-size: 0.8em;
  margin-right: 11px;
  transform: scaleX(0.73);
}
